:root {
  --mainFont: "Ubuntu Condensed", sans-serif;
  --mainColor: #343a40;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.title,
.div-src {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
.lead {
  font-family: var(--mainFont);
  color: var(--mainColor);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  max-width: 500px;
  margin: 1rem;
}

.div-src a {
  font-family: var(--mainFont);
  text-decoration: none;
  color: var(--mainColor);
}
.div-src a:hover {
  color: blue;
}
